[Desktop Entry]
Type=Application
Name=Solero
Comment=Mod Manager for Skyrim SE/AE
Exec=/var/home/eamon/dev/solero/build/solero
Icon=/var/home/eamon/dev/solero/resources/icons/solero-logo.svg
Categories=Game;Utility;
Keywords=mod;skyrim;modmanager;
StartupWMClass=solero
Terminal=false
